@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');

body {
  background: #fafafa;
  min-height: 100vh;
  font-family: 'Karla', sans-serif;
}

.vote {
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
}

.vote--inactive {
  color: #898989;
}

.vote--inactive:hover {
  color: #ed64a6;
}

.vote--active {
  color: #ed64a6;
}

.vote--active:hover {
  opacity: 0.7;
}

/* Used to override editor styles */
.css-2x38se > *:not(style) ~ *:not(style) {
  margin: 0 !important;
}

.code-snippet {
  font-family: 'Fira Code';
  width: 100%;
}
